@tfo:registry=https://pkgs.dev.azure.com/tfocloud/579d7435-055d-4b1e-ac45-aacb22aa598e/_packaging/test-mytfo/npm/registry/ 

always-auth=true

; begin auth token
//pkgs.dev.azure.com/tfocloud/579d7435-055d-4b1e-ac45-aacb22aa598e/_packaging/test-mytfo/npm/registry/:username=tfocloud
//pkgs.dev.azure.com/tfocloud/579d7435-055d-4b1e-ac45-aacb22aa598e/_packaging/test-mytfo/npm/registry/:_password=YTdkbjUyMmp0NTVwdWFsZHQ0aW8ydG03ZWFxM2RxenB2ZHFlNnNjamc0N2J3ZnhhNHoycQ==
//pkgs.dev.azure.com/tfocloud/579d7435-055d-4b1e-ac45-aacb22aa598e/_packaging/test-mytfo/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/tfocloud/579d7435-055d-4b1e-ac45-aacb22aa598e/_packaging/test-mytfo/npm/:username=tfocloud
//pkgs.dev.azure.com/tfocloud/579d7435-055d-4b1e-ac45-aacb22aa598e/_packaging/test-mytfo/npm/:_password=YTdkbjUyMmp0NTVwdWFsZHQ0aW8ydG03ZWFxM2RxenB2ZHFlNnNjamc0N2J3ZnhhNHoycQ==
//pkgs.dev.azure.com/tfocloud/579d7435-055d-4b1e-ac45-aacb22aa598e/_packaging/test-mytfo/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
